extends layout

block content
    div.container
        div.row
            div.col-md-8
                form.editor.text-center(action='/index',method='POST',role='form')
                    input.form-control(type='text',name='title')
                    input.form-control(type='text',name='shortscript')
                    input.form-control(type='textarea',name='content')
                    input.btn.btn-primary(type='submit',name='publish',value='Publish')
